@charset "UTF-8";

#container .wrapper form .title{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin: 60px 0 40px;
}
#container .wrapper {
    width: 600px;
    margin: 0 auto;
}
#container .wrapper form input[type="text"], input[type="password"]{
    margin: 10px 0 30px 0;
    width: 60%;
    height: 40px;
}
#container .wrapper form input[name="userId"]{
    width: 40%;

}
#container .wrapper form input[type="radio"]{
    margin: 20px 0 30px 0;
}
#container .wrapper form label{
    margin-right: 20px;
}
#container .wrapper form{
    position: relative;
    height: 1000px;
}
#container .wrapper form button#idCheck{
    position: absolute;
    top: 106px;
    right: 245px;
    background-color: #fff;
    color: #008526;
    border: 1px solid #008526;
    border-radius: 4px;
    width: 90px;
    height: 40px;
}

#container .wrapper form input[type="file"]{
    padding-top: 187px;
}
#container .wrapper form button[type="submit"]{
    width: 130px;
    margin: 60px auto 30px;
}
.errMsg, .okMsg, .emtMsg{
    position: absolute;
    top: 150px;
    right: 380px;
    font-size: 13px;
    width: 220px;
}

.wrapper .dropzone-outer-wrapper {
    margin-top: 25px;
}

.wrapper .dropzone-outer-wrapper div.profile-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #cc2121;
    overflow: hidden;
    cursor: pointer;
}
.wrapper .dropzone-outer-wrapper div.profile-img .dropzone-previews {
    display: block;
    width: 80px;
    height: 80px;
}
.wrapper .dropzone-outer-wrapper button.change-btn {
    float: left;
    margin: 20px 0 0;
    color: #fff;
    background-color: #cc2121;
    border: 0;
}
